
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f6f9fc;
}

 .top-bar {
  background: #0b4d3c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 40px;
  font-size: 14px;
}

/* Right side container */
.top-right {
  display: flex;
  gap: 40px;
  margin-right: 30px;;
}

/* Dropdown wrapper */
.dropdown {
  position: relative;
}

/* Button */
.drop-btn {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 28px;
  right: 0;
  background: #fff;
  min-width: 130px;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  display: none;
  z-index: 999;
}

/* Dropdown items */
.dropdown-menu a {
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #eee;
}

.dropdown-menu a:last-child {
  border-bottom: none;
}

.dropdown-menu a:hover {
  background: #f2f2f2;
}ba

/* Hover effect */
.dropdown:hover .dropdown-menu {
  display: block;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: #fff;
}

.logo {
  font-size: 26px;
  color: #0b4d3c;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li {
  cursor: pointer;
  font-weight: 500;
}

.search-box {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 30px;
  overflow: hidden;
}

.search-box input {
  border: none;
  padding: 10px 15px;
  width: 220px;
  outline: none;
}

.search-box button {
  border: none;
  padding: 10px 15px;
  background: #0b4d3c;
  color: white;
  cursor: pointer;
}

.icons span {
  margin-left: 20px;
  cursor: pointer;
}

 .hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #dff1f9;
}
.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* image fills screen */
  position: absolute;
  top: 0;
  left: 0;
}

.hero-text {
   position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 6vw;
  color: #0b4d3c;
}
 .hero-text h1 {
  font-size:700px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.hero-text h1 {
  font-size: 56px;
  color: #0b4d3c;
  margin-bottom: 20px;
}



.hero-text p {
  font-size: clamp(1rem, 1.3vw, 1.2rem);
  /* max-width: 520px; */
  margin: 30px;
  color: #222;
  
}

.btn {
  padding: 14px 34px;
  border-radius: 40px;
  background: #0b4d3c;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.hero-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    width: 90%;
    margin-top: 30px;
  }
}
/* ===============================
   TOP CATEGORIES
================================= */

.categories {
  padding: 60px 60px;
  background: #fff;
  margin-right: 30px;
  margin-left: 40px;;
}


.category-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.category-card {
  position: relative;
  height: 270px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.category-card h3 {
  position: absolute;
  top: 35px;
  left: 65px;
  z-index: 2;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}



.category-card:hover {
  transform: translateY(-8px);
}

.category-img {
  width: 100%;
  height: 280px;
  max-width: 100%;
  object-fit:fill;
  border-radius: 15px;
}


.products {
  padding: 60px;
  background: #fff;
}

.products h1 {
  
  margin-bottom: 50px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

}

.product-card {
  background: #f8f8f8;
  border-radius: 20px;
  padding: 45px;
  position: relative;
  transition: 0.3s;

}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}

.wishlist {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #fff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product-card h3 {
  margin-bottom: 8px;
}

.desc {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.rating {
  color: green;
  margin-bottom: 15px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.product-card button {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  border-radius: 25px;
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
}

.product-card button:hover {
  background: #0b4d3c;
  color: #fff;
}
.prod{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background: white;
}



@media (max-width: 1000px) {
  .category-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-grid {
    grid-template-columns: 1fr;
  }
}

.offers {
  padding: 60px 6vw;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 35px;
}

/* GRID */
.offer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

/* CARD */
.offer-card {
  border-radius: 20px;
  overflow: hidden;
  height: 420px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOP TEXT */
.offer-content {
  padding: 30px;
}

.offer-content h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.offer-content h1 {
  font-size: 56px;
  margin-bottom: 15px;
}

.offer-content p {
  font-size: 15px;
  max-width: 240px;
}

/* IMAGE */
.offer-image {
  height: 45%;
  width: 100%;
}

.offer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* COLORS */
.beige {
  background: #f5e8dc;
  color: #c08b00;
}

.pink {
  background: #fde2e2;
  color: #a12121;
}

.brown {
  background: #f2e4d8;
  color: #9b6a3b;
}

.green {
  background: #dbf8ee;
  color: #0b6b4f;
}

.deals-section {
  padding: 50px 80px;
}

.deals-section h2 {
  font-size: 28px;
  margin-bottom: 25px;
}

.categories {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.categories button {
  padding: 10px 22px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-weight: 500;
}

.categories button.active {
  background: #0b4d3b;
  color: #fff;
  border: none;
}


.wishlist {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}

.cashback {
  background: #ffe7cc;
  margin: 60px 0;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.cashback h1 {
  font-size: 48px;
}

.cashback p {
  font-size: 20px;
  margin-top: 10px;
}

.cashback img {
  width: 300px;
}
.trending,
.best-selling,
.services {
  padding: 60px 80px;
}

.trending-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.trend-card {
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
}

.trend-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.trend-content {
  padding: 25px;
}

.trend-content button {
  margin-top: 15px;
  background: #000;
  color: #fff;
  padding: 10px 28px;
  border-radius: 30px;
  border: none;
}



.store-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.store-card img {
  width: 100%;
  border-radius: 20px;
}

.store-card span {
  color: #e91e63;
  font-size: 14px;
}



.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service-card {
  background: #f6f6f6;
  border-radius: 20px;
  overflow: hidden;
  padding: 30px;
}

.service-card img {
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
}


.footer {
  border-top: 1px solid #ddd;
  padding: 60px 80px 20px;
}

.footer-top {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  gap: 40px;
}

.footer-col h4 {
  margin-bottom: 15px;
}

.footer-col a {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-size: 14px;
}

.payments img {
  width: 45px;
  margin-right: 10px;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}

.brand-section {
  padding: 60px 80px;
}

.brand-section h2 {
  font-size: 28px;
  margin-bottom: 35px;
}

.brand-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.brand-card {
  background: #f5f5f5;
  border-radius: 18px;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.brand-card:hover {
  transform: translateY(-5px);
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.brand-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.brand-card h3 {
  margin-bottom: 6px;
  font-size: 18px;
}

.brand-card p {
  font-size: 14px;
  color: #777;
}
.offer-banner {
  height: 800px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1586023492125-27b2c045efd7");
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 60px 0;
}

.offer {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  background: #043f2e;
  color: #fff;
  padding: 60px;
  width: 420px;
  border-radius: 8px;
}

.offer h1 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.offer p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  opacity: 0.9;
}

.offer button {
  padding: 14px 35px;
  border-radius: 30px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.offer button:hover {
  background: #fff;
  color: #043f2e;
}




